<div class="row">
    <div class="col-md-6">
        @{
            ViewBag.Title = "Om";
        }
        <h2>@ViewBag.Title</h2>
        <p>
            Lexicon är Sveriges största privatägda utbildningsgrupp.
            Sedan 1979 har vi framgångsrikt utbildat människor och erbjudit
            konsulttjänster med Sveriges största bredd av kompetens till
            företag och andra organisationer.
        </p>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row">
    <div class="col-md-6">
        @{
            ViewBag.Title2 = "Kontakt";
        }
        <h2>@ViewBag.Title2</h2>
        <address>
            Huvudansvarig:<br />
            Christer Barosen: 070-468 63 63<br />
            <br />
            Utbildningsansvarig:<br />
            Oscar Jakobsson: 073-545 42 17<br />
            <br />
            Telefon växel: 08-440 71 60<br />
            Årstaängsvägen 9<br />
            Liljeholmen<br />
        </address>

    </div>
    <div class="col-md-6"></div>
</div>