@model LMS_Lexicon2015.Models.Group
@using LMS_Lexicon2015.Models;

<div class="jumbotron">
    <h1>Lexicon LMS</h1>
    <p class="lead">
</div>
@if (User.IsInRole("Lärare")){
    <p>hej läraren!</p>
}

@if (User.IsInRole("Elev"))
{
    <p>hej eleven!</p>
    
    <div>Sidan är <big>påbörjad</big>. Rör ej</div>
    
    var GroupId = new LMS_Lexicon2015.Models.ApplicationDbContext().Users.Where(u => u.Email == User.Identity.Name).FirstOrDefault().GroupId;
    ViewBag.GroupId = GroupId;
    @Html.Partial("../Groups/_Course", new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(o => o.GroupId == (int)GroupId).ToList())
    <div>mellanrum</div>
    @*@Html.Partial("../Users/PartitialGroup", new LMS_Lexicon2015.Models.ApplicationDbContext().CourseOccasions.Where(o => o.GroupId == (int)GroupId).ToList())*@
    }
@{
    ViewBag.Title = "";
}

@if (!User.IsInRole("Elev") && !User.IsInRole("Lärare"))
{
    <p><img src="http://www.lexicon.se/Global/Images/PLUS-580-grey.jpg" alt="Lexicon"></p>

}



<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>

    </div>
</div>