@{
    ViewBag.Title = "Glömt lösenord bekräftelse";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <h4>
        Läs dina email för att återställa lösenordet.
    </h4>
</div>
	
