@{
    ViewBag.Title = "Glömt lösenord bekräftelse";
}
<div class="row">
    <div class="col-md-12 extratoppadding">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
        <div>
            <h4>
                Läs dina email för att återställa lösenordet.
            </h4>
            <p>
                @if (ViewBag.ResetPasswordUrl != null)
                {
                    String UrlLink = ViewBag.ResetPasswordUrl.ToString();
                    <a href=@UrlLink> Ändra Lösenord i Brist På Mail </a>
                    //           <p>@Html.ActionLink("Ändra Lösenord i Brist På Mail",UrlLink)</p>
                }
            </p>
        </div>
    </div>
</div>