@{
    ViewBag.Title = "Konfirmera lösenordsändring";
}
<div class="row">
    <div class="col-md-12 extratoppadding">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
        <div>
            <p>
                Ditt lösenord har ändrats. @Html.ActionLink("Logga in här", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>