@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-md-12 extratoppadding">
        <h1 class="text-danger">Fel</h1>
        <h2 class="text-danger">Ett fel uppstod.</h2>
    </div>
</div>
