@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Låst</h1>
    <h2 class="text-danger">Användaren har låsts ute. Försök senare.</h2>
</hgroup>
