body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    display: inline;
    font-family: Garamond;
    font-size: 1.5em;
}

.navbar-inverse .navbar-nav > li > a {
    /*color: #41dd92;*/
    color: #8eff96; /*lexicon-länk-grön*/
    /*background-color: #222222;*/ /*avvaktar*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    background-color: #DD002C; /*lexicon-röd*/
    height:2px;
}

.green_hr{
    background-color: #66CC33; /*lexicon-grön*/
    height:2px;
}

hr-blue {
    background-color: #3399FF; /*lexicon-blå*/
    height:2px;
}

.content_info_problem { 
    color:#DD002C;
}
.content_info_dont_delete {
        background-color:#ffffff;
        color:gray;
        text-decoration:none;
}
a.content_info_dont_delete {
        background-color:#ffffff;
        color:gray;
        text-decoration:none;
}
.content_info_ok {
    color:#41AD49; /*lexicon-grön*/
    font-size:18pt;
}
.content_info_ok_normal {
    color:#41AD49; /*lexicon-grön*/
}

.jumbotron {
margin-top:auto;
  padding: 5px;
  margin-bottom: 10px;
  position:relative; /*blev inge bättre*/
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container .jumbotron {
    padding-top:30px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1 {
    font-size: 60px;
  }
}

.Grey_Button {
    color: grey;
}
.extratoppadding    {
    padding-top:40px;
}